###############################################################################
# BRLTTY - A background process providing access to the console screen (when in
#          text mode) for a blind person using a refreshable braille display.
#
# Copyright (C) 1995-2008 by The BRLTTY Developers.
#
# BRLTTY comes with ABSOLUTELY NO WARRANTY.
#
# This is free software, placed under the terms of the
# GNU General Public License, as published by the Free Software
# Foundation; either version 2 of the License, or (at your option) any
# later version. Please see the file LICENSE-GPL for details.
#
# Web Page: http://mielke.cc/brltty/
#
# This software is maintained by Dave Mielke <dave@mielke.cc>.
###############################################################################

# udev rules file for brltty

SUBSYSTEM=="usb_device", GOTO="brltty_usb_begin"
GOTO="brltty_end"

LABEL="brltty_usb_begin"

# Alva
SYSFS{idVendor}=="06b0", SYSFS{idProduct}=="0001", ENV{BRLTTY_DRIVER}="al", GOTO="brltty_usb_run"

# Baum
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="fe70", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="fe71", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="fe72", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="fe73", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="fe74", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="fe75", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="fe76", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="fe77", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2000", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2001", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2002", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2007", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2008", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2009", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2010", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2011", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2012", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2014", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2015", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0904", SYSFS{idProduct}=="2016", ENV{BRLTTY_DRIVER}="bm", GOTO="brltty_usb_run"

# BrailleSense
SYSFS{idVendor}=="045e", SYSFS{idProduct}=="930a", ENV{BRLTTY_DRIVER}="bs", GOTO="brltty_usb_run"

# EuroBraille
SYSFS{idVendor}=="c251", SYSFS{idProduct}=="1122", ENV{BRLTTY_DRIVER}="eu", GOTO="brltty_usb_run"

# FreedomScientific
SYSFS{idVendor}=="0f4e", SYSFS{idProduct}=="0100", ENV{BRLTTY_DRIVER}="fs", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0f4e", SYSFS{idProduct}=="0111", ENV{BRLTTY_DRIVER}="fs", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0f4e", SYSFS{idProduct}=="0112", ENV{BRLTTY_DRIVER}="fs", GOTO="brltty_usb_run"

# HandyTech
SYSFS{idVendor}=="0921", SYSFS{idProduct}=="1200", ENV{BRLTTY_DRIVER}="ht", GOTO="brltty_usb_run"
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="6001", ENV{BRLTTY_DRIVER}="ht", GOTO="brltty_usb_run"

# Papenmeier
SYSFS{idVendor}=="0403", SYSFS{idProduct}=="f208", ENV{BRLTTY_DRIVER}="pm", GOTO="brltty_usb_run"

# Voyager
SYSFS{idVendor}=="0798", SYSFS{idProduct}=="0001", ENV{BRLTTY_DRIVER}="vo", GOTO="brltty_usb_run"

GOTO="brltty_end"

LABEL="brltty_usb_run"
ENV{BRLTTY_DEVICE}="usb:$sysfs{serial}"
GOTO="brltty_run"

LABEL="brltty_run"
ENV{BRLTTY_PID_FILE}="/var/run/brltty.$kernel.pid"
ACTION=="add", GOTO="brltty_add"
ACTION=="remove", GOTO="brltty_remove"
GOTO="brltty_end"

LABEL="brltty_add"
RUN+="/bin/brltty -E -P$env{BRLTTY_PID_FILE}"
GOTO="brltty_end"

LABEL="brltty_remove"
RUN+="/bin/sh -c 'kill -TERM `cat $env{BRLTTY_PID_FILE}`'"
GOTO="brltty_end"

LABEL="brltty_end"
