Makefile
/absdeps.mk
reldeps.mk

/configure
/autom4te*.cache
/BinTree

/config.log
/config.status
/config.mk
/config.h

/forbuild.log
/forbuild.status
/forbuild.mk
/forbuild.h

brltty.spec

*.o
*.a
*.so
*.dylib
*.dll
*.def
*.lib
*.exe

*.class
*.jar

*.auto.h
*.auto.c

*.tar
*.gz
*.bz2
*.xz
*.rpm

/lib/
