Makefile
/absdeps.mk
reldeps.mk

/configure
/autom4te*.cache
/BinTree/

/config.log
/config.status
/config.mk
/config.h
/config.sh

/forbuild.log
/forbuild.status
/forbuild.mk
/forbuild.h

*.o
*.a
*.so
*.dylib

*.dll
*.def
*.lib
*.exe

*.class
*.jar

*.auto.h
*.auto.c

/brltty.spec
*.rpm

*.tar
*.gz
*.bz2
*.xz

/lib/

/Programs/brltty-config
