<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd"
>

<policyconfig>
  <vendor>The BRLTTY Developers</vendor>
  <vendor_url>http://brltty.com/</vendor_url>

  <action id="org.a11y.brlapi.write-display">
    <description>Write to the braille display</description>
    <message>Privileges are required to access the braille display</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
