Makefile
reldeps.mk
brlapi.h
*.auto.h
brlapi_constants.h
*.auto.c
*.a
*.so
*.dylib
*.dll
*.def
*.lib
*.exe
*.class
*.jar
brltty
brltty-trtxt
brltty-ttb
brltty-ctb
brltty-config
apitest
brltest
ctbtest
ktbtest
scrtest
spktest
ttbtest
tunetest
tbl2hex
txt2hlp
xbrlapi
