/tbl2hex

/brltty
/brltty-atb
/brltty-cldr
/brltty-clip
/brltty-ctb
/brltty-hid
/brltty-ktb
/brltty-lscmds
/brltty-lsinc
/brltty-morse
/brltty-pty
/brltty-trtxt
/brltty-ttb
/brltty-tune

/brltest
/crctest
/msgtest
/scrtest
/spktest

/brlapi.h
/brlapi_constants.h

/apitest
/xbrlapi
