Makefile
reldeps.mk
brlapi.h
*.auto.h
brlapi_constants.h
*.auto.c
*.a
*.so
*.dylib
*.dll
*.def
*.lib
*.exe
brltty
brltty-config
brltty-trtxt
apitest
brltest
ctbtest
ktbtest
scrtest
spktest
ttbtest
tunetest
tbl2hex
txt2hlp
xbrlapi
